**/.idea
/.idea/
__pycache__
**/__pycache__
./__pycache__
/__pycache__
/*.log
**/htmlcov/
**/.coverage
**/.mypy_cache/
**/tmp
.env
**/.venv
**/.env
**/.env.test
**/.env.stg
**/.env.dev
.vscode
/.vscode
/.settings
/.idea
./__pycharm__
**/__pycharm__
__pycache__
.docx
